@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    @apply bg-[#00343A] text-[#F8F1E5];
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
h1{
    @apply text-4xl lg:text-5xl 2xl:text-6xl font-medium;
}
h2{
    @apply text-2xl lg:text-3xl 2xl:text-4xl font-normal;
}




.swiper-button-prev,
.swiper-button-next {
    width: 40px; /* Ширина кнопки */
    height: 40px; /* Высота кнопки */
    background-color: rgba(255, 255, 255, 0.8); /* Цвет фона */
    border-radius: 50%; /* Круглая форма */
    display: flex; /* Используем flex для центрирования содержимого */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    cursor: pointer; /* Курсор при наведении */
    position: absolute; /* Позиционирование кнопок */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Центрируем по вертикали */
    z-index: 10; /* Убедитесь, что кнопки поверх слайдов */
}

.swiper-button-prev {
    left: 10px; /* Отступ от левого края */
}

.swiper-button-next {
    right: 10px; /* Отступ от правого края */
}

/* Стили для SVG-иконок */
.swiper-button-prev svg,
.swiper-button-next svg {
    width: 16px; /* Ширина иконки */
    height: 16px; /* Высота иконки */
    stroke: #000; /* Цвет иконки */
}
