@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    @apply bg-[#00343A] text-[#F7F7F7];
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
h1{
    @apply text-4xl lg:text-5xl 2xl:text-6xl font-medium;
}
h2{
    @apply text-2xl lg:text-3xl 2xl:text-4xl font-normal;
}
input[type="checkbox"] {
    accent-color: #E3BF46;
}
::selection {
    background-color: #E3BF46;
    /* Цвет фона выделения */
    color: #00343A;
    /* Цвет текста выделения */
}

::-moz-selection {
    background-color: #E3BF46;
    /* Цвет фона выделения для Firefox */
    color: #00343A;
    /* Цвет текста выделения для Firefox */
}
.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 15px;
    margin-bottom: 10px;
}

ul, li {
    list-style: none;
  }


.swiper-button-prev, .swiper-button-next {
    background: #E3BF46; /* Remove default Swiper button background */
    border-radius: 100px;     /* Remove default Swiper button border */
    width: 60px !important;
    height: 60px !important;
    cursor: pointer;
    margin: 50px;     /* Add some spacing around buttons */
    /* Add more styling as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1024px) {
        display: none !important;
    }

  }

  /* .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0px !important;
    right: -10px !important;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    left: auto !important;
    right: -10px !important;
  } */
  .rounded-button {
    width: 60px; /* Ширина кнопки */
    height: 60px; /* Высота кнопки */
    display: flex; /* Центрируем содержимое */
    align-items: center; /* Вертикальное центрирование */
    justify-content: center; /* Горизонтальное центрирование */
    border-radius: 50%; /* Делаем кнопку круглой */
    background: #E3BF46;
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход для фона */
    z-index: 10; /* Убедитесь, что кнопки выше других элементов */
}

.swiper-button-next svg, .swiper-button-prev svg {
    width: 24px !important;
    height: 24px !important;
}

  .swiper-button-next::after, .swiper-button-prev::after {
    content: "" !important;
}
.image {
    transition: transform 0.5s ease; /* Плавный переход для эффекта */
    /* Используйте scale-110 по умолчанию */
}

.image.scale {
    transform: scale(1); /* Уменьшаем до оригинального размера */
}


